:root {
    --color-primary: rgba(17,83,161,1);
    --color-primary-medium: rgba(17,83,161,0.5);
    --color-primary-low: rgba(17,83,161,0.2);
    --color-third2: rgba(255,16,61,1);
    --color-third2-medium: rgba(255,16,61,0.5);
    --color-third2-low: rgba(255,16,61,0.2);
    --color-secondary: rgba(242, 243, 220, 1);
    --color-secondary-medium: rgba(242, 243, 220, 0.5);
    --color-secondary-low: rgba(242, 243, 220, 0.2);
    --color-third: rgba(56,137,198, 1);
    --color-third-medium: rgba(56,137,198, 0.5);
    --color-third-low: rgba(56,137,198, 0.2);
    --color-primary2: rgba(190,12,44, 1);
    --color-primary2-medium: rgba(190,12,44, 0.5);
    --color-primary2-low: rgba(190,12,44, 0.2);
    --color-bg: rgba(242, 241, 132, 0.8); /* Corregido el valor incorrecto de rgba */
}

* {
    font-family: 'NimbusSanL', Arial, sans-serif;
}

#carouselExampleAutoplaying img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

#carouselExampleAutoplaying,
#carouselExampleAutoplaying2,
#carouselExampleAutoplaying3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

#carouselExampleAutoplaying #btn_style:nth-of-type(1),
#carouselExampleAutoplaying2 #btn_style:nth-of-type(2),
#carouselExampleAutoplaying3 #btn_style:nth-of-type(2) {
    background-color: var(--color-third);
}

#carouselExampleAutoplaying #btn_style:nth-of-type(2),
#carouselExampleAutoplaying2 #btn_style:nth-of-type(1),
#carouselExampleAutoplaying3 #btn_style:nth-of-type(1) {
    background-color: var(--color-primary);
}

#carouselExampleAutoplaying,
#carouselExampleAutoplaying2,
#carouselExampleAutoplaying3 div div div {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#carouselExampleAutoplaying div div div p:nth-of-type(1),
#carouselExampleAutoplaying2 div div div p:nth-of-type(1),
#carouselExampleAutoplaying3 div div div p:nth-of-type(1) {
    font-size: 25px;
    font-weight: bold;
    background-color: var(--color-primary);
    padding: 10px 20px;
    margin: 10px;
}

#carouselExampleAutoplaying div div div p:nth-of-type(2),
#carouselExampleAutoplaying2 div div div p:nth-of-type(2),
#carouselExampleAutoplaying3 div div div p:nth-of-type(2) {
    font-size: 30px;
    font-weight: bold;
    background-color: var(--color-third);
    padding: 10px 20px;
    margin: 10px;
}

#carouselExampleAutoplaying div div div p:nth-of-type(3),
#carouselExampleAutoplaying2 div div div p:nth-of-type(3),
#carouselExampleAutoplaying3 div div div p:nth-of-type(3) {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px;
    text-align: start;
}

#carouselExampleAutoplaying div div div div button:nth-of-type(1),
#carouselExampleAutoplaying2 div div div div button:nth-of-type(1),
#carouselExampleAutoplaying3 div div div div button:nth-of-type(1) {
    background-color: var(--color-third);
}

#carouselExampleAutoplaying div div div div button:nth-of-type(2),
#carouselExampleAutoplaying2 div div div div button:nth-of-type(2),
#carouselExampleAutoplaying3 div div div div button:nth-of-type(2) {
    background-color: var(--color-primary);
}
